@charset "utf-8";

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:link{
    text-decoration: none;
    color:inherit;
}

ul,ol{
    list-style: none;
    margin:0;
    padding:0;
}
/*------------------- 리셋설정/--------------------------*/
:root{
    --text-color:#000;
    --back-color:#fff;
    --first-color:#FF6B01;
    --sencond-color:#D69600;
    --third-color:#2596FF;
    --background-gradient:linear-gradient(to bottom,#838C08 0%,#F3FF46 100%)
}

.wrap{
    max-width: 1440px;
    margin:0 auto;
}

/*------------------- 공통스타일/--------------------------*/
/*-------------------- header/ --------------------------*/
/*-------------------  main/--------------------------*/
/*------------------- footer/--------------------------*/