@charset "utf-8";

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:link{
    text-decoration: none;
    color:inherit;
}

ul,ol{
    list-style: none;
    margin:0;
    padding:0;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
/* html{
    font-size:20px;
} */
/*------------------- 리셋설정/--------------------------*/
:root{
    --text-color:#000;
    --back-color:#fff;
    --first-color:#FF6B01;
    --sencond-color:#D69600;
    --third-color:#2596FF;
    --four-color:#838C08;
    --background-gradient:linear-gradient(to bottom,#838C08 0%,#F3FF46 100%)
}
.d-flex{
    display: flex;
}
.d-none{
    display: none;
}
.justify-between{
    justify-content:space-between;
}
.justify-left{
    justify-content:left;
}
.justify-center{
    justify-content:center;
}
.justify-right{
    justify-content:right;
}
.align-center{
    align-items: center;
}
.text-center{
    text-align:center;
}
.font-bold{
    font-weight:bold;
}
.mx-auto{
    margin:0 auto;
}

.mx1{
    margin: 1rem 0;
}
.mx2{
    margin: 2rem 0;
}
.mx3{
    margin: 3rem 0;
}
.mx4{
    margin: 4rem 0;
}
.mx5{
    margin: 5rem 0;
}

.my1{
    margin:0 1rem;
}
.my2{
    margin:0 2rem;
}
.my3{
    margin:0 3rem;
}
.my4{
    margin:0 4rem;
}
.my5{
    margin:0 5rem;
}

.px1{
    padding: 1rem 0;
}
.px2{
    padding: 2rem 0;
}
.px3{
    padding: 3rem 0;
}
.px4{
    padding: 4rem 0;
}
.px5{
    padding: 5rem 0;
}

.py1{
    padding:0 1rem;
}
.py2{
    padding:0 2rem;
}
.py3{
    padding:0 3rem;
}
.py4{
    padding:0 4rem;
}
.py5{
    padding:0 5rem;
}
.gap1{
    gap:1rem;
}
.gap2{
    gap:2rem;
}
.gap3{
    gap:3rem;
}
body h2{
    font-size: 2.5rem;
}

.wrap{
    max-width: 1440px;
    margin:0 auto;
}

/*------------------- 공통스타일/--------------------------*/

.head{
    display: flex;
    justify-content:space-between;
    align-items:center;
    background: var(--first-color);
}

.navi-title{
    display:flex;
    font-weight: bold;
    font-size:1.2rem;
}
.navi-title>li a{
    margin:0 2rem;
}
.navi-title li{
    border-bottom: 4px solid transparent;
}
.navi-title li:hover{
    border-bottom:4px solid var(--back-color)
}
.side-navi{
    display: flex;
}
.side-navi img{
    margin:1rem;
}
.mo-menu{
    display: none;
}
/*-------------------- header/ --------------------------*/
.data-text{
     text-align: center;
}
.data-text h2{
    font-size: 2.5rem;
    margin: 2rem .7rem;
}
.grid{
    padding: 1rem 1rem;

}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.grid-item{
    width: 400px;
    height: 400px;
    position:relative;
    border-radius: 1rem;
    margin:1rem 1rem;
    background:#dfdfdf;
}
.btns{
    display: flex;
    margin: 3rem auto;
    justify-content: center;
}
.btn-before{
    margin:0  3rem  0 0;
}
.btn-before input{
    width:200px;
    height: 70px;
    font-size: 1.5rem;
    background: #989898;
    border-radius: 2.5rem;
    color:white;
}

.btn-next input{
    width:200px;
    height: 70px;
    font-size: 1.5rem;
    background: var(--first-color);
    border-radius: 2.5rem;
    color:white;
}
.item1-img{
    background: url(../images/already.jpg) no-repeat center/cover ;
    position: absolute;
    width:350px;
    height: 350px;
    margin: 25px 25px;
    border-radius: 1rem;
}
.item2-img{
    background: url(../images/news_content.jpg) no-repeat center/cover  ;
    height: 350px;
    width:350px;
    margin: 25px 25px;
    border-radius: 1rem;
}
.item3-img{
    background: url(../images/membership.jpg) no-repeat center/cover  ;
    height: 350px;
    width:350px;
    margin: 25px 25px;
    border-radius: 1rem;
}
.item4-img{
    background: url(../images/공지사항.jpg) no-repeat center/cover  ;
    height: 350px;
    width:350px;
    margin: 25px 25px;
    border-radius: 1rem;
}
.item5-img{
    background: url(../images/winter-sale.jpg) no-repeat center/cover  ;
    height: 350px;
    width:350px;
    margin: 25px 25px;
    border-radius: 1rem;
}
.item6-img{
    background: url(../images/추석.jpg) no-repeat center/cover  ;
    height: 350px;
    width:350px;
    margin: 25px 25px;
    border-radius: 1rem;
}
.item7-img{
    background: url(../images/summer\ holibay.jpg) no-repeat center/cover  ;
    height: 350px;
    width:350px;
    margin: 25px 25px;
    border-radius: 1rem;
}
.item8-img{
    background: url(../images/공지사항.jpg) no-repeat center/cover  ;
    height: 350px;
    width:350px;
    margin: 25px 25px;
    border-radius: 1rem;
}
.item9-img{
    background: url(../images/new-year.jpg) no-repeat center/cover  ;
    height: 350px;
    width:350px;
    margin: 25px 25px;
    border-radius: 1rem;
}
.data-text p {
    font-size: 1.3rem;
    margin-bottom:2rem;
}
.idea{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 2rem;
}
.idea-left img{
    width:200px;
    height: 200px;
}
.idea-right{
    margin:3rem 2rem;
}
.idea-right h2{
    font-size: 2.5rem;
}
.idea-right p{
    font-size:1.5rem;
    margin: 2rem 0;
}
.agree-text{
    text-align: center;
    margin-top:7rem ;
}
.agree-text h3{
    font-size:1.5rem;
    margin-bottom: 1rem;
}
.agree-text p{
    font-size: 1.25rem;
}
.checkbox{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 2rem 2rem 2rem 0;
}
.checkbox input{
    width:20px;
    height: 20px;
    margin:.27rem .5rem;
}
.mo-list-text{
    display: none;
}
.idea-list{
    width:960px;
    height: 600px;
    background: var(--first-color);
    margin-left:18%;
    font-size: 1.25rem;
}
.idea-inputs{
    align-items: center;
    justify-content: center;
    border-collapse: collapse;
    position:relative;
}


.idea-inputs span{
    width: 200px;
    height: 90px;
    display: flex;
    justify-content: center;
    margin-top:1rem;
}
.idea-item1,.idea-item2, .idea-item3 ,.idea-item4 {
    margin:1rem 1rem;
}

.idea-item1 input{
    width:400px;
    height: 50px;
    border-radius:1rem;
    border-radius:1rem;
}
.idea-item2 input{
    width:240px;
    height: 50px;
    border-radius:1rem;
    border-radius:1rem;
}
.idea-item3 input{
    width:400px;
    height: 50px;
    border-radius: 1rem;
}
.idea-item4 input{
    width:350px;
    height: 50px;
    border-radius: 1rem; 
}
.idea-item5 textarea{
    width:400px;
    height: 140px;
    border-radius: 1rem;
    margin: 1rem;
}
.idea-infotext{
    text-align: left;
    margin:1rem 17rem;
}
.idea-name{
    display: flex;
}
.idea-email{
    display: flex;
}
.idea-title{
    display: flex;
}
.idea-file{
    display: flex;
}
.idea-contents{
    display: flex;
}
.d-flex textarea{
    flex: 0 0 50%;
}
.carousel {
    height: 500px;
    background: var(--sencond-color);
    /* overflow: hidden; */
}
.ca-text{
    position:absolute;
    right:20%;
    margin:9rem 0 0 7rem;
    font-size: 2rem;
    z-index:10;
}
.ca-text p{
    margin-bottom: 2rem;
}
.ca-text h2{
    margin: 0 3rem;
}
.carousel img{
    position:relative;
    height:500px;

}
.items{
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin:5rem 0;
    padding:2rem;
}
.item-text h3{
    font-size:1.1rem;
    align-items: center;
    color:#2596FF;
}
.item2-text h3{
    font-size:1.1rem;
    align-items: center;
    color:#2596FF;
}
.Dolbox{
    margin:7rem 0;
    padding:2rem 0;
}
.dol-left{
    width:750px;
    height: 400px;
    background:url(../images/dolphin.png) no-repeat center/cover;
}
.dol-right{
    background: var(--background-gradient);
    width:750px;
    height: 400px;
    line-height: 3rem;
}
.dol-right h3{
    color:white;
    font-size:1.5rem;
    margin:3rem 0 0 5rem ;
}
.dol-right p{
    color:white;
    font-size: 1rem;
    margin:0 0 .25rem 5rem;
}
.dol-right button{
    margin: 1rem 0 0 5rem;
    width:100px;
    height:40px;
    border-radius: 2rem;
    border:0;
    background:var(--four-color);
    font-weight:bold;
    font-size: 1rem;
}
.news{
    display: flex;
    justify-content:space-around;
    margin: 2rem auto;
    padding:2rem;
}
.news1-img{
    background:url(../images/mainjelly1.png) no-repeat center/cover ;
    width:300px;
    height:300px
}
.news1 button{
   position:absolute
}
.news2-img{
    background:url(../images/mainjelly1.png) no-repeat center/cover ;
    width:300px;
    height:300px
}
/*-------------------  main/--------------------------*/

/* .carousel-wrapper{
    width:1440px;
    height:500px;
    overflow:hidden;
}
.carousel-wrapper> .carousel{
display: flex;
}

.carousel-wrapper> .carousel>img{
    width:1440px;
    height: 500px;
} */
.foot{
    background:var(--first-color) ;
}
.fo-left{
    width:700px;
    height: 300px;
}
.sns{
    margin: 2rem 1rem ;
    justify-content:center;
}

.sns-face{
    width:60px;
    height:60px;
    border-radius: 2rem;
    margin: 0 3rem;
    background: url(../images/facebook.png) no-repeat center/cover;
    z-index:10;
}

.sns-ins{
    width:60px;
    height:60px;
    margin: 0 3rem;
    background: url(../images/insta.png) no-repeat center/cover;
}
.left-text{
    color:white;
    text-align:center;
    align-items:center;
    margin:1rem 0 ;
}
.left-text h3{
    font-size:1.5rem;
    line-height: 2.5rem;
}
.left-text p{
    line-height: 2.5rem;
}
.fo-right{
    color:white;
    font-size:1.3rem;
    line-height:3rem;
}
.fo-center{
    width:1440px;
    height: 20px;
    text-align: center;
    justify-items: center;
    background: var(--first-color);
    color:white;
}
.fo-center p{
    font-size:.7rem;
}
/*------------------- footer/--------------------------*/
@media screen and (max-width:600px){
    body h2{
        font-size: 2.2rem;
    }
    .wrap{
        overflow:hidden;
        max-width: 600px;
    }
    .head{
     
        width:100%;
        z-index:11;
    }
    navi{
        display: none;
    }
    .navi{
        background-color:var(--sencond-color);
        width: 150px;
        position: fixed;
        /* 70% 해당하는 폭*/
        right: 0;
        top:94px;
        z-index: 9999;
    }
    .navi-title{
        font-size: 0.9rem;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    /*------------------- /header--------------------------*/
    .idea-left img{
        width:120px;
        height: 120px;
    }
    .idea-right h2{
        font-size:2rem
    }
    .idea-right p{
        font-size: 1.3rem;
    }
    .agree-text h3{
        font-size: 1.2rem;
    }
    .agree-text p{
        font-size: 1.1rem;
    }
    .checkbox p {
        font-size:1.025rem;
    }
    .idea-list{
       /* display: none; */
       width:550px;
       height:650px;
       margin:0 auto;
    }
    .idea-inputs{
        text-align: center;
    }
    .idea-name{
        align-items: center;
    }
    .idea-name span{
        margin-top:1rem;
        /* align-items: center; */
    }
    .mo-menu{
        margin-top: 0.785rem;
        margin:1rem 1rem;
    }
    .mo-list-text{
        display: block;
        text-align: center;
    }
    .mo-list-text h2{
        font-size: 1.3rem;
        margin:0 3rem;
        padding: 2rem;
    }
    .mo-list-text p{
        font-size: 1rem;
        margin:.5rem;
        line-height: 1rem;
    }
    span{
        border-bottom: 2px solid var(--first-color);
    }
  
    .idea-infotext{
        width:550px;
        margin:0 auto;
        font-size: .95rem;
    }
   
    .data-text h2{
        font-size: 2.2rem;
    }
    .data-text p{
        font-size: 1.2rem;
    }
    .grid-container{
        display: flex;
        justify-content:center;
        flex-direction:column;
        align-items:center;
        margin-bottom: 3rem;
    }
    .grid-container li:nth-child(5)
    ,.grid-container li:nth-child(6)
    ,.grid-container li:nth-child(7)
    , .grid-container li:nth-child(8)
    , .grid-container li:nth-child(9)
    {
        display: none;
    }
    .mo-carousel{
        width:600px;
        height: 300px;
        background:none;
    }
    .mo-carousel img{
        width: 600px;
        height: 300px;
    }
    .mo-menu{
        display: block;
    }
    .ca-text{
        margin:5rem 0 0 3rem ;
        left:17%;
        color:white;
        text-shadow:2px 3px 2px #000;
        
    }
    .ca-text p{
        font-size:1.4rem;
        margin-bottom: 2rem;
    }
    .ca-text h2{
        font-size: 2rem;
        margin:0 0 0 2rem;
    }
    .items{
        padding: 0;
        margin: 2rem auto;
        width:70%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .item1>img{
        width:300px;
        height: 300px;
    }
    .item-click img{
        width:60px;
        height: 30px;
    } 
    .item2{
        width:305px;
        height: 430px;
    }
    .item2>img{
        width:300px;
        height:300px;
    }
    .item-text h3{
        font-size:1.1rem;
        align-items: center;
        color:#2596FF;
    }
    .item2-text h3{
        font-size: 1.1rem;
        color:#2596FF;
    }
    .item2-text p{
        font-size: 1rem;
    }
    .item2-click img{
        width:60px;
        height: 30px;
    } 
    .item2-click p{
        padding: 0;
    }
    .dol-left{
        width:300px;
    }
    .dol-right h3{
        margin: 2rem 0 1rem 2.7rem;
    }
    .dol-right p{
        margin: .5rem 1rem 1rem 3rem;
    }
    .dol-right button{
        margin: 1rem .5rem 0 3rem;
    }
    /*------------------- /main--------------------------*/
    .foot{
        height: 300px;
    }
    .fo-left{
        font-size: .7rem;
        width:300px;
        height: 170px;
    }
    .sns-face{
        width:40px;
        height: 40px;
    }
    .sns-ins{
        width:40px;
        height: 40px;
    }
    .fo-ri1{
        margin-right:.8rem;
        font-size:.8rem;
    }
    .fo-ri2{
      font-size: .7rem;
    }
    .fo-center p{
        width:300px;
        height: 200px;
        margin:0 150px;
    }
    .mo-focenter>p{
        width:300px;
        height:200px;
        margin:0 150px;
    }
    /*------------------- /footer--------------------------*/
}